header {
    height: 125px;
    background-color: yellow;
    font-size: 150%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}



footer {
    background-color: yellow;
    height: 115px;
    font-size: 200%;
    border-top: white solid 5px;
    display: flex;
    flex-direction: column;
    text-align: center;
}