body{
    background-color: orangered;
}

header {
    height: 115px;
    background-color: yellow;
    font-size: 200%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: white solid 5px;
}

.actions {
    display: flex;
    flex-direction: row;
}

footer {
    background-color: yellow;
    height: 115px;
    font-size: 200%;
    border-top: white solid 5px;
    display: flex;
    flex-direction: column;
    text-align: center;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
}